.App {
  text-align: center;
  background-color: #d0f2f2;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
  background-color: #d0f2f2;
}

::-webkit-scrollbar-track {
  background: rgba(232, 218, 254, 0.1);
  backdrop-filter: blur(10px);
  /* Glass effect */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(232, 218, 254, 0.6);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  /* Gives a glassy edge */
  backdrop-filter: blur(5px);
  /* Glass effect */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(232, 218, 254, 0.8);
}